language: python

python:
   - "3.5"

sudo: false

notifications:
    slack: swe-smash:bG87XftLJCkeWJXPGt5oSNYc

branches:
    only:
    - dev
      
install:
    - pip install --upgrade pip
    - pip --version
    - pip install coverage
    - pip install numpy
    - pip install pylint
    - pip install requests

before_script:
    - uname -a
    - printenv
    - pip list
    - coverage --version
    - pylint   --version

script:
    - date
    - ls -al
    - make test
