<!DOCTYPE html>
<html lang="en">
    <script> alert('hi:');</script>

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Custom Fonts -->
      <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

      <!-- Plugin CSS -->
      <link href="../static/magnific-popup/magnific-popup.css" rel="stylesheet">

      <!-- Theme CSS -->
      <link href="static/css/table2.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <br>
    <br>
    <br>
    <br>
    <h2><center>About</center></h2>
    <br>
    <br>

  <table class="table table-striped table-bordered table-hover table-mc-light-blue"align="center">
      <tr>
        <td>Total Commits</td>
        <td>Total Issues</td>
        <td>Total Unittests</td>
      </tr>
      <tr align="center">
        <td>{{totals.total_commits}}</td>
        <td>{{totals.total_issues}}</td>
        <td>{{totals.total_unittests}}</td>
      </tr>
    </table>

    <br />
    <br />
    <h2><center>Member Stats</center></h2>
  <table class="table table-bordered table-striped table-hover table-mc-light-blue"align="center">
      <tr>
        <td>Avatar</td>
        <td>Name</td>
        <td>Username</td>
        <td>Commits</td>
        <td>Tests</td>
        <td>Issues</td>
        <td>Responsibilities</td>
        <td>Description</td>
      </tr>
      <tr ng-repeat="member in member_stats track by $index" align="center">
          <td><img src='{{member.avatar_url}}' width="100%"></td>
        <td>{{member.name}}</td>
        <td>{{member.username}}</td>
        <td>{{member.commits}}</td>
        <td>{{member.tests}}</td>
        <td>{{member.issues}}</td>
        <td>{{member.responsibilities}}</td>
        <td>{{member.description}}</td>
      </tr>
    </table>

    <h2><center>API</center></h2>
    <center><a href="http://docs.smashdatabase.apiary.io/">SmashDB API</a></center><br />


    <h2><center>Tools</center></h2>
    <center><a href="">Apiary</a></center><br />
    <center><a href="http://flask.pocoo.org/">Flask</a></center><br />
    <center><a href="https://travis-ci.com">TravisCI</a></center><br />
    <center><a href="https://angularjs.org/">AngularJS</a></center><br />
    <center><a href="https://github.com/">GitHub</a></center><br />
    <center><a href="https://aws.amazon.com/">Amazon Web Services</a></center><br />
    <center><a href="http://getbootstrap.com/">Bootstrap</a></center><br />

    <h2><center>Data Sources</center></h2>
    <center><a href="https://smash.gg/">Smash.gg</a></center><br />
    <center><a href="http://smashdatabase.com/">Smash Database</a></center><br />

    <h2><center>GitHub Links</center></h2>
    <center><a href="https://github.com/lee-benjamin/cs373-idb">GitHub Repo</a></center><br />
    <center><a href="https://github.com/lee-benjamin/cs373-idb/wiki">GitHub Wiki</a></center><br />
    <center><a href="https://github.com/lee-benjamin/cs373-idb/issues">GitHub Issue Tracker</a></center><br />

    <h2><center>Run Unit Tests</center></h2>

    <center><button ng-click="runTests()" data-toggle="modal" data-target="#test_modal">Run</button></center>
    <div id="test_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p ng-show="!tests"> Running unit tests...</p>
            <p> {{tests}}</p>
          </div>
        </div>
      </div>
    </div>

     <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  </body>

</html>
