.alignleft { 
    float: left; 
    padding-left:30%;
}
.left_td {
    padding-left:7%;
}
.banner div {
    margin-left: 25%;
 }
 .banner img {
     width: 250px;
}
table {
    padding-left: 50%;
    border: 1px;
}
tr.spaceUnder > td
{
      padding-bottom: 1em;
}
.header {
    padding-top: 5%;

}
.table_small {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
  font-size:20px;
  background:rgba(0,0,0,0);
  margin-left:50%;
  padding-left:50%;
}
.table_small > tbody {
    padding-left:20%;
}

