body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-nav > li > a {
	padding-top:20px; 
	padding-bottom:20px;
}

.navbar-brand{
	padding-top:5px; 
	padding-bottom:5px;
}

.navbar {
	min-height:50px ;
}