<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/images/SmashDbLogo.png">

  <title>SmashDb - Smashers, Tournaments, Characters</title>

  <!-- JS scripts -->
  <script src='/static/js/angular.min.js'></script>
  <script src='/static/js/angular-route.min.js'></script>
  <script src='/static/js/app.js'></script>
  <script src='http://lorenzofox3.github.io/smart-table-website/bower_components/angular-smart-table/dist/smart-table.js'></script>
  <script type="text/javascript">
        function search() {
            var query = document.getElementById("srch-term").value;
            console.log(query)
            window.location = "/search?query=" + query;
        }

        function cluster() {
            var query = document.getElementById("cluster-value").value;
            console.log(query);
            window.location = "/news?clusters=" + query;
        }

  </script>

  <!-- CSS links -->
  <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/creative.css" rel="stylesheet">
</head>
<div class="container-fluid">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">SmashDb</a>
            </div>

            <div class="navbar-header navbar-right">
              <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn" onclick="search()" align="right" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
            </form>
          </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/participants">Participants</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/tournaments">Tournaments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/characters">Characters</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>
  </div>


<body ng-app="mainApp">
    <div ng-view></div>
   <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/assets/js/docs.min.js"></script>
  <script src="/static/js/sorttable.js"></script>
  <script src='http://lorenzofox3.github.io/smart-table-website/bower_components/angular-smart-table/dist/smart-table.js'></script>

</body>
</html>
